{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
 <main class="container">
  <div class="p-4 p-md-5 mb-4 text-white rounded">
    <div class="col-md-12 text-white rounded" style="margin-bottom: 25px;">
      <h1 class="display-2 fst-italic">An easy way to find your new best friend!</h1>  
    </div>
     <div class="text-white rounded" style="text-align: center; margin-bottom: 25px;">
      <h4>All you need to do is take a small quiz that will then give you a pet that will most suit your lifestyle and personality</h4>
      <div class="bd-example">
        <a href="{{ url_for('quiz') }}" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">Start Quiz</a>
      </div>
     </div>
    </div>
  </div>
</main>
{% endblock %}
